################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/LeetCode/.vs/LeetCode/v17/.suo
/LeetCode/Easy-Problems/bin/Debug/net5.0
/LeetCode/Easy-Problems/obj
*.v2
*.v1
/LeetCode/.vs/LeetCode/v17/TestStore/0
/LeetCode/June-Month-Challenge/June-2022/.vs/June-2022/v17
/LeetCode/June-Month-Challenge/June-2022/obj
/LeetCode/June-Month-Challenge/June-2022/bin/Debug/net5.0
/LeetCode/Dream/.vs/Dream/v17
/LeetCode/Dream/bin/Debug/netcoreapp3.1
/LeetCode/Dream/obj
/LeetCode/July-2022/.vs/July-2022/v17
/LeetCode/July-2022/bin/Debug/netcoreapp3.1
/LeetCode/July-2022/obj
/LeetCode/LeetCode-Medium/obj
/LeetCode/LeetCode-Medium/bin/Debug/netcoreapp3.1
/LeetCode/LeetCode-Medium/.vs/LeetCode-Medium/v17
/LeetCode/Easy-II/bin/Debug/netcoreapp3.1
/LeetCode/Easy-II/.vs/Easy-II/v17
/LeetCode/Easy-II/obj
